@import "../base/variables";

.card {
  display: flex;
  flex-direction: column;
  height: 208px;
  border-radius: 1em;
  background: $white;
  overflow: hidden;
  box-shadow: 0px 8px 24px 0px rgba(81, 85, 195, 0.08);
  position: relative;

  @media (max-width: 390px) {
    height: 100%;
  }

  &:last-child,
  &:nth-last-child(2) {
    grid-column: span 2;

    @media (max-width: 390px) {
      grid-column: auto;
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 24px 16px 24px;
  }

  &__content {
    height: 100%;
  }

  &__chart-figure-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 132px;
    height: 132px;

    .chart-figure {
      width: 100%;
      height: auto;
    }
  }

  &__percent-value-wrapper {
    display: flex;
    justify-content: space-between;

    span {
      width: 20px;
      font-size: 10px;
      color: $secondary-text-color;
      line-height: 1em;

      &:first-child {
        margin-left: 10px;
      }

      &:last-child {
        margin-right: 5px;
      }
    }
  }

  &__footer {
    display: flex;
    align-items: baseline;
    padding: 12px 22px 15px 24px;
    border-radius: 0px 0px 16px 16px;
    position: relative;
    z-index: 0;

    // modify footer for cards
    &--type1 {
      color: $white;
      background-color: $color1;
      justify-content: space-between;

      &::before {
        content: url("../images/wave.svg");
        position: absolute;
        z-index: 1;
        top: -24px;
        left: 0;
        width: 100%;
        height: auto;

        @media (max-width: $media-md) {
          top: -25px;
          left: 72px;
          transform: scale(2);
          z-index: -1;
        }

        @media (max-width: 461px) {
          top: -2px;
        }
      }

      .big-value {
        font-size: 24px;
        line-height: 24px;
        font-family: $inter-font-700;

        @media (max-width: $media-lg) {
          font-size: 19px;
          line-height: 19px;
        }
      }

      .small-value {
        font-size: 14px;
      }

      @media (max-width: 461px) {
        flex-direction: column;
        align-items: center;
      }

      @media (max-width: 390px) {
        flex-direction: row;
      }
    }

    // modify footer for cards
    &--type2 {
      width: 100%;
      position: absolute;
      bottom: 3px;
      justify-content: center;
      padding: 0 22px 15px 24px;

      .form-wrapper {
        display: flex;

        @media (max-width: 390px) {
          width: 100%;
          justify-content: space-between;
        }
      }

      .checkbox-wrapper:nth-child(1) label:before {
        border-color: $color2;
      }
      .checkbox-wrapper:nth-child(1) input:checked + label::before {
        background-color: $color2;
      }

      .checkbox-wrapper:nth-child(2) label:before {
        border-color: $color3;
      }
      .checkbox-wrapper:nth-child(2) input:checked + label::before {
        background-color: $color3;
      }

      .checkbox-wrapper:nth-child(3) label:before {
        border-color: $color4;
      }
      .checkbox-wrapper:nth-child(3) input:checked + label::before {
        background-color: $color4;
      }

      .checkbox-wrapper:nth-child(4) label:before {
        border-color: $color5;
      }
      .checkbox-wrapper:nth-child(4) input:checked + label::before {
        background-color: $color5;
      }

      .checkbox-wrapper:nth-child(5) label:before {
        border-color: $color6;
      }
      .checkbox-wrapper:nth-child(5) input:checked + label::before {
        background-color: $color6;
      }

      @media (max-width: $media-lg) {
        bottom: 3px;
        padding: 0 22px 8px 24px;
      }
    }
  }

  //  Ovveride card styles
  &--type2,
  &--type3 {
    .card__content {
      display: flex;
      justify-content: center;
      align-items: baseline;
    }
  }

  &--type5,
  &--type6 {
    height: 292px;

    .card__header {
      padding: 24px 24px 10px 24px;
    }

    .card__content {
      display: flex;
      flex-direction: column;
      position: relative;
      margin: 0 24px 52px 51px;
    }

    .chart-lines-list,
    .chart-letters-list,
    .chart-numbers-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .chart-lines-list,
    .chart-letters-list {
      display: flex;
      gap: 2px;
      justify-content: center;
      position: relative;
      z-index: 1;
    }

    .chart-numbers-list,
    .chart-letters-list {
      color: $secondary-text-color;
      font-size: 12px;

      @media (max-width: $media-md) {
        font-size: 16px;
      }
    }

    .chart-numbers-list {
      display: flex;
      flex-direction: column;
      justify-content: end;
      width: 100%;
      position: absolute;
      left: -25px;
      top: 2px;
      font-size: 12px;
      line-height: 24px;
      height: 100%;

      li {
        margin-bottom: 8px;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 37px;
          bottom: 11px;
          width: 100%;
          height: 1px;
          background-color: $decor-line;
        }
      }

      @media (max-width: $media-md) {
        font-size: 16px;
        top: -5px;
      }
    }

    .chart-lines-list {
      height: 100%;

      li {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: end;
        padding: 31px 14px 0 14px;

        @media (max-width: $media-lg) {
          padding: 31px 8px 0 8px;
        }

        @media (max-width: $media-extra-sm) {
          padding: 31px 5px 0 5px;
        }

        div {
          background-color: $color1;
          border-radius: 10px 10px 0px 0px;
          height: 100%;
        }
      }
    }

    .chart-letters-list {
      li {
        width: 100%;
        padding: 0 14px 0px 14px;

        span {
          display: block;
          width: 100%;
          text-align: center;
          text-transform: uppercase;
        }

        @media (max-width: $media-xl) {
          padding: 0;
        }
      }
    }
  }

  &--type1 {
    .card__content {
      background-color: rgba($color1, 0.08);
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 16px;
    }

    .decor-line {
      margin: 0 16px;
      height: 14px;
      height: 1px;
      background: $decor-line;
    }
  }

  &--type3 {
    .card__primary-icon-container {
      max-width: 139px;
      max-height: 139px;
      position: relative;

      .arc-icon {
        width: 100%;
        height: 100%;
      }
    }

    .card__icon-wrapper {
      background-color: $white;
      border-radius: 50%;
      max-width: 30px;
      padding: 2px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;

      img {
        width: 100%;
        height: auto;
        opacity: 0.32;
      }

      //   positions for emoji icons
      &--position1 {
        bottom: 39px;
        right: -4px;
      }

      &--position2 {
        left: -4px;
        bottom: 39px;
      }

      &--position3 {
        top: -7px;
        left: 54px;
      }
    }
  }

  &--type4 {
    .card__header {
      border-bottom: 1px solid $decor-line;
      margin: 0 24px;
      padding: 24px 0 16px 0;
    }

    .card__content {
      overflow-y: overlay;
      margin: 5px 10px 5px 5px;

      @media (max-width: 390px) {
        height: 145px;
        overflow-y: auto;
      }
    }

    ul {
      display: flex;
      padding: 1px 0 0 38px;
      flex-direction: column;
      align-items: flex-start;
      gap: 9px;
      font-size: 14px;
      list-style-type: upper-alpha;

      @media (max-width: $media-sm) {
        gap: 10px;
      }
    }

    li {
      width: 100%;
      position: relative;
      padding: 8px 0;

      @media (max-width: 1258px) {
        padding: 1px 0;
      }

      @media (max-width: $media-md) {
        padding: 9px 0;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 1px;
        top: -10px;
        left: -16px;
        background: $decor-line;
      }
    }
  }

  &--type5 {
    .chart-numbers-list {
      flex-direction: column-reverse;
      left: -41px;

      li {
        padding: 0 16px;
      }
    }
  }

  &--type6 {
    .card__content {
      margin: 0 24px 52px 80px;
    }

    .chart-numbers-list {
      left: -38px;

      @media (max-width: $media-md) {
        left: -55px;

        li::after {
          left: 50px;
        }
      }
    }

    .chart-lines-list,
    .chart-letters-list {
      div {
        max-width: 76.5px;

        @media (max-width: $media-md) {
          max-width: 100%;
        }
      }
    }

    .chart-lines-list {
      li {
        &:nth-child(1) {
          div {
            background-color: $color2;
          }
        }
        &:nth-child(2) {
          div {
            background-color: $color3;
          }
        }
        &:nth-child(3) {
          div {
            background-color: $color4;
          }
        }
        &:nth-child(4) {
          div {
            background-color: $color5;
          }
        }
        &:nth-child(5) {
          div {
            background-color: $color6;
          }
        }
      }
    }
  }

  h2 {
    font-size: 1.25em;

    @media (max-width: $media-lg) {
      font-size: 1.1em;
    }
  }

  .icon-info-icon {
    color: $secondary-text-color;
    opacity: 0.64;
    cursor: pointer;
    transition: all 0.5s ease-out;

    &:hover {
      color: $light-blue;
    }
  }
}
