// Icomoon variables
$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icomoon" !default;

$icon-bag-icon: "\e900";
$icon-chart-icon: "\e901";
$icon-info-icon: "\e902";
$icon-people-icon: "\e903";
