// Fonts
$inter-font-400: "inter-regular", sans-serif;
$inter-font-500: "inter-semi-bold", sans-serif;
$inter-font-700: "inter-bold", sans-serif;

// Colors
$main-bg: #ecedff;
$white: #fff;
$light-blue: #4c57fb;
$main-text-color: #222531;
$secondary-text-color: #616e85;
$decor-line: #eff2f5;
$scroll-color1: #d0d6e4;
$scroll-color2: #cbccdc;

// Chart colors
$color1: #f18c5c;
$color2: #5155c3;
$color3: #597dbe;
$color4: #5f99bb;
$color5: #65b8b7;
$color6: #6cddb1;

// Media Query
$media-extra-sm: 575.98px;
$media-sm: 767.98px;
$media-md: 991.98px;
$media-lg: 1199.98px;
$media-xl: 1399.98px;
